.DS_Store
__pycache__/
*logs/
*slurm_logs*
*job_logs
*wandb*
guided-diffusion/*

# pixel-diffusion
pixel-diffusion/outputs/
pixel-diffusion/data/

pixel-diffusion/slurm/
pixel-diffusion/slurm_logs/

pixel-diffusion/ambient-syn-evals
pixel-diffusion/ambient-syn-runs
data_softlink

# edm2
edm2/scratch
edm2/scratch_release
edm2/slurm
